{% extends 'base.html.twig' %}

{% block title %}New Livre{% endblock %}

{% block body %}
    
    {{ include('livre/_form.html.twig') }}

    <a href="{{ path('app_livre_index') }}"><span class="btn btn-primary"><i class="fa fa-backward">&nbsp;</i>Retour</span></a>

{% endblock %}
