{% extends 'base.html.twig' %}

{% block title %}Live Features{% endblock %}

{% block body %}
<section id="page-header" class="padding-large" style="background-image: url('{{ asset('images/banner-image-bg.jpg') }}'); background-size: cover; background-repeat: no-repeat; background-position: center; height: 300px; display: flex; align-items: center;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="display-4 text-white">Live Features</h1>
        <p class="lead text-white">Discover the latest features and updates</p>
      </div>
    </div>
  </div>
</section>

<section class="padding-large">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Coming Soon</h2>
        <p>Live features section is under development.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}